.ordermainbody{
    display: flex;
    margin-bottom: 20px;
}
.toporder{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 470px;
}
.likedesc2{
    height: auto;
}
.bin{
    width:25px;
    height: 25px;
}
.addr2{
    padding-top: 5px;
    padding-left: 10px;
    width: 100%;
    
}
.addr2 p{
    margin-top: -7px;
}
.status-shipped {
    color: rgb(255, 166, 0); 
  }
.status-dispatch{
    color: rgb(231, 231, 55);
} 
.cancelled{
    color: red;
} 
 
@media (max-width:866px) {
    .ordermainbody{
        flex-direction: column;
        gap: 10px;
      }  
}
